<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-grey navbar-light py-3">

  <div class="container">
    <a href="#" class="navbar-brand">Arexa</a>

    <form class="d-flex flex-grow-1">
        <input class="form-control me-2 rounded-pill shadow-none" type="search" placeholder="Search for Rentals" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#learn" class="nav-link">Buy</a>
        </li>
        <li class="nav-item">
          <a href="#questions" class="nav-link">Rent</a>
        </li>
        <li class="nav-item">
          <a href="#instructors" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="#instructors" class="nav-link"><i class="fa fa-heart"></i></a>
        </li>
        <li class="nav-item">
          <a href="#instructors" class="nav-link"><i class="fa fa-bell"></i></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'login' %}" class="btn btn-light"><i class="fas fa-user"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
