{% extends 'core/base.html' %}

{% block content %}
<h2 class="text-center">Houses for Rent, Nairobi</h2>

<section class="showcase bg-blue mt-3">

  <div class="row">
    <div class="col-md-10">
    </div>

      <div class="col-md">
        <a href="{% url 'rental-create' %}" class="btn btn-primary float-left"><i class="fas fa-plus-circle"></i> Create</a>
      </div>

    <div class="col-md">
      <a href="{% url 'rental-download' %}" class="btn btn-success float-right"><i class="fas fa-download"></i> Download</a>
    </div>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Published Date</th>
      <th scope="col">Estate</th>
      <th scope="col">Location</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  {% for rental in rentals %}
    <tbody>
      <tr>
        <th scope="row">{{page_obj.start_index|add:forloop.counter0}}</th>
        <td>{{rental.name}}</td>
        <td>Kshs.{{rental.rent}}</td>
        <td>{{rental.pub_date}}</td>
        <td>{{rental.type}}</td>
        <td>{{rental.location}}</td>

        <td>
          <a class="btn btn-primary btn-sm mt-1 mb-1"href="{% url 'rental-update' rental.id %}"><i class="fas fa-pen"></i> Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1"href="{% url 'rental-delete' rental.id %}"><i class="fas fa-archive"></i> Archive</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7" class="text-center bg-warning">No Rentals</td>
      </tr>
    </tbody>
  {% endfor %}
</table>
</section>

{% endblock content %}
