{% extends 'core/base.html' %}

{% block content %}
<h2 class="text-center">Welcome our Esteem Tenant, We hope you find the house that excites you!</h2>

<section>
  <div class="container">
    {% for %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
  </div>

</section>



{% endblock content %}
