{% extends 'core/base.html' %}{% load static %}
{% block content %}
<!-- <div class="container">
  <div class="card">
      <h1 class="text-center">Rgister from Here!</h1>
      <button type="" class="btn btn-primary" name="button"><a href="#">Agent SignUp</a></button>
      <button type="" class="btn btn-success" name="button"><a href="{% url 'tenant_signup' %}">Tenant SignUp</a></button>
  </div>
</div> -->


<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="{% static 'img/logo.png'%}" style="width: 100px; height:300px" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Registration Info</h3>
            <div class="text-center">
              <button type="button" class="btn btn-secondary"><a href="{% url 'agent_signup' %}">Agent SignUp</a></button>
              <button type="button" class="btn btn-danger"><a href="{% url 'tenant_signup' %}">Tenant SignUp</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
